<!--<link rel="stylesheet" href="/proyectoAngularPortfolio/src/app/app.component.css">-->
<header>
    <img class="portada" src="/frontend/diseñoFigma/portada.jpg" alt="esta es la imagen de portada" width="100%" height="400">

<br>
<img class="foto" src="/frontend/diseñoFigma/perfil2.jpg" alt="mi foto de perfil" width="300" height="300">
<br>
<div class="infoNico">
<h1>{{miPortfolio.name}}</h1>
<P>Estudiante de ARGENTINA PROGRAMA</P>
<P>Venado Tuerto, Santa Fé, Argentina. <b class="infoContacto">Información de contacto</b></P>
<button class="botonInteres">Tengo interés en</button> <button>añadir sección</button> <button>más</button>
</div>
</header>

