<section class="alineacionCajas">
    <h2>ACERCA DE</h2>
    <ul>
        <li><a href="#">Estudiante de programación</a></li>
        <li><a href="#">Docente</a></li>
        <li><a href="#">Profesor de Educación Física</a></li>
    </ul>
    <div class="cajaArticulos">
    <article>
        <h2>EXPERIENCIA</h2>
        <div class="venadoGob">
        <div class="logoVenado">
        <img src="/frontend/diseñoFigma/logoGobiernoVenado.jpg" alt="logo del gobierno de venado tuerto" width="100"
            height="100">
        </div>
        <div class="descripcionVenado">
        <h3>Profesor, Entrenador</h3>
        <p>Ene, 2013 - Actualidad - 9 años</p>
        <p>Venado Tueto, Argentina</p>
    </article>
    </div>
    </div>
    <br>
    <article>
        <div class="cajaEducacion">
        <h2>EDUCACIÓN</h2>
        <div class="ices">
            <div class="logoIces">
        <img src="/frontend/diseñoFigma/logoIces.jpg" alt="este es el logo de Ices" width="100" height="100">
    </div>
    <div class="descripcionIces">
        <h3>Ices</h3>
        <p>Profesorado de Educación Física</p>
        <p>2009 - 2013</p>
    </div>
    </div>
        <br>
        <div class="argPrograma">
            <div class="logoArgPrograma">
        <img src="/frontend/diseñoFigma/argentinaProgramaLogo.png" alt="logo de Argentina Programa" width="100"
            height="100">
        </div>
        <div class="descripcionArgPrograma">
        <h3>Argentina Programa</h3>
        <p>Desarrollador Web Full Stack Junior</p>
        <p>2022 - 2023</p>
    </div>
    </div>
        <br>
        <div class="eggProgramacion">
            <div class="logoEggProgramacion">
        <img src="/frontend/diseñoFigma/eggProgramacionLogo.png" alt="logo de egg programación" width="100"
            height="100">
        </div>
        <div class="descripcionEggProgramacion">
        <h3>Egg Programación</h3>
        <p>Programación desde cero</p>
        <p>2022</p>
    </article>
</div>
</div>
</div>
</div>
    <br>
    <div class="cajaProyectos">
    <article>
        <h2>Proyectos</h2>
        <p><i><strong>Portfolio Web</strong></i></p>
        <P>Proyecto final de la capacitación Argentina Programa</P>
    </article>
</div>
<br>
</section>
